$myGray: #f6f6f7;
$iconColor: #6c6c6c;
$textMuted: #6d7175;
$textBlack: #202223;
$buttonBorderColor: #ced4da;
$buttonIcon: #b4b4b4;

$iconGray: #f9f9fb;
$buttonGray: #bbc0d8;
$hoverButtonGray: #9ba2c5;
$clickButtonGray: #9c9b9b;
$iconColor: #6c6c6c;
$textMuted: #131520;
$textBlack: #202223;
$errorText: #e61f10;
$errorBorder: #e61f10;
