$Green: #048ba8;
$sideBarBackground: #23273c;
$sideBarTitle: #ffceb7;
$formTitle: #6c6c6c;
$placeholderColor: #202223;
$blueButtonBg: #048ba8;
$blueLink: #2c6ecb;
$loginBorder: #b4b4b4;
$focusInputLog: #458fff;
$invalidLogIn: red;
$validInput: #558b6e;
$iconCorrect: #065143;
$errText: #e61f10;
$sendDataButtonBg: #023a46;
$backArrow: #2c6ecb;
$stepColor: #558b6e;
$notActiveStep: #b4b4b4;
