$myGray: #f6f6f7;
$iconColor: #6c6c6c;
$textMuted: #6d7175;
$textBlack: #202223;
$buttonBorderColor: #ced4da;
$buttonIcon: #b4b4b4;

$iconGray: #f6f6f7;
$buttonGray: #d8d8d8;
$hoverButtonGray: #b7b7b7;
$clickButtonGray: #9c9b9b;
$iconColor: #6c6c6c;
$textMuted: #6d7175;
$textBlack: #202223;
$errorText: #e61f10;
$errorBorder: #e61f10;
