$sideBarBackground: #2563eb;
$formTitle: #6c6c6c;
$placeholderColor: #202223;
$blueButtonBg: #2563eb;
$blueLink: #2c6ecb;
$loginBorder: #b4b4b4;
$focusInputLog: #458fff;
$invalidLogIn: red;
$validInput: #558b6e;
$iconCorrect: #065143;
$errText: #e61f10;
$sendDataButtonBg: #12337a;
$backArrow: #2c6ecb;
