/*
** Variables
*/
@import "./variablesOfTable";

/*
** Load Fonts
*/

@font-face {
  font-family: "Vazir";
  src: local("Vazir"),
    url("../assets/fonts/Vazir/Vazir-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "VazirFD";
  src: local("Vazir"),
    url("../assets/fonts/Vazir/Vazir-Regular-FD-WOL.ttf") format("truetype");
}

*:not(i) {
  margin: 0;
  padding: 0;
  font-family: "VazirFD";
}

input[type="text"] {
  direction: rtl !important;
}

*::-webkit-scrollbar {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  width: 4px !important;
}

*::-webkit-scrollbar-thumb {
  background: #5d40f1;
  border-radius: 8px;
  width: 4px;
  height: 34px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #5d40f1;
  border-radius: 8px;
  width: 4px;
  height: 34px;
}

body::-webkit-scrollbar {
  box-sizing: border-box;
  width: 15px !important;
}

body::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 0;
  width: 15px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #888888;
  border-radius: 0;
  width: 15px;
}

/*
** Zi
*/
.zi-navbar {
  width: 100%;
  height: 7.7777777%;
  position: fixed;
  z-index: 999999999999999999999999999999999999;
  text-align: center;

  .p-breadcrumb {
    padding: 0;
    padding-left: 8%;
    border: unset;
    position: relative;
    border-bottom: 1px solid #dee2e6;
  }
}

@media (min-width: 680px) {
  .zi-navbar {
    .p-breadcrumb {
      padding: 0 10%;
      right: 0;
    }
  }
}

.zi-sidebar {
  li:not(.notHand) {
    a {
      svg {
        path {
          fill: #fff;
        }
      }
      &.router-link-exact-active {
        .sideIcon {
          svg {
            path {
              fill: #7de6fc;
            }
          }
        }
      }
    }
  }
}

.zi-main {
  width: 100%;
  height: max-content;
  padding: 0px 4.6875% 1.171875% 4.6875%;
  background-color: #f6f6f7;
  // box-shadow: 0px 0px 5px rgba(23, 24, 24, 0.05);
  border-radius: 8px;

  .content {
    margin-top: 72px;
    // padding-top: 16px;
    width: 100%;
    height: 100%;
  }
}

/*
** Font Sizes
*/
.zi-font-size-24 {
  font-size: 1.5rem !important;
}

/*
** Colors
*/
.zi-button-icon {
  margin: 0 !important;
  color: #fff;
  font-size: 14px;
}

/*
** Mixin
*/
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

@include placeholder {
  color: #b4b4b4;
}

.swal2-styled.swal2-cancel {
  background-color: #fff;
  border: 1px solid #a7acb1;
  border-radius: 8px;
  color: #131520;
  width: 48px;
  height: 32px;
  font-size: 14px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(130%) translateY(-20%);
}

.swal2-styled.swal2-confirm {
  border-radius: 8px;
  color: #fff;
  width: 48px;
  height: 32px;
  font-size: 14px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(10%) translateY(-20%);
}

.swal2-close {
  justify-self: start;
  position: absolute;
  left: 10px;
}

.swal2-title {
  text-align: right;
  color: #048ba8;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  right: 10px;
  padding: 10px;
}

.swal2-popup:not(.swal2-toast) {
  padding: 10px 20px;
  box-shadow: 0px 0px 5px rgba(23, 24, 24, 0.05);
  border-radius: 8px;
  width: 269px;
  height: 165px;
  direction: rtl;
}

.swal2-container {
  z-index: 9999999999999999999999999999;
  direction: rtl;
}

.swal2-html-container:not(.bottomZero) {
  text-align: right;
  direction: rtl;
  margin: 0px;
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 50px;
}

.swal2-html-container.bottomZero {
  text-align: center;
  direction: rtl;
  font-size: 14px;
  width: 100%;
  margin: 0;
  position: absolute !important;
  color: black !important;
  bottom: 5px !important;
  display: flex;
  justify-content: center;
}

.myTooltip .p-tooltip-text {
  background-color: #bbc0d8 !important;
  color: #5c679e !important;
  width: fit-content;
  font-size: 12px;
  text-align: center;
  direction: rtl;
  border-radius: 4px !important;
}
.myTooltip.p-tooltip-bottom .p-tooltip-arrow,
.myTooltip.p-tooltip-top .p-tooltip-arrow {
  border-bottom-color: #bbc0d8 !important;
}
.colored-toast.swal2-icon-success {
  width: 300px !important;
  height: 48px;
  background: #c5dacf !important;
  border-radius: 8px;
  border-right: 7px solid #558b6e;
  align-items: center !important;
  justify-content: right;
  display: flex !important;
  padding: 20px 10px;
  direction: rtl;
  // padding-top: 0 !important;

  .swal2-title {
    font-size: 16px;
    color: #065143;
    margin: 0.5em 0 0.5em 1em;
  }

  .toastTitle {
    position: relative;
  }

  .swal2-success-ring,
  .swal2-success-fix {
    visibility: hidden !important;
    background: #558b6e;
  }

  .swal2-close {
    position: absolute;
    left: 5px;
    color: #065143;
    margin-top: -5px;
  }
}

.swal2-container {
  .swal2-html-container {
    padding: auto 10px;
  }

  .swal2-icon-success:not(.swal2-toast) {
    min-width: 300px;
    .swal2-icon-show {
      margin: 2em auto 0.6em;
    }
  }
}

.customizeTootip .p-tooltip-text {
  background-color: #fff;
  color: #49527e;
  border-radius: 4px;
  font-size: 12px;
  line-height: 20px;
}

.customizeTootip .p-tooltip-arrow {
  border-bottom-color: #fff !important;
}
